body {
    background-color: gray !important;
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0, 45, 129, 0.4); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(8, 78, 119, 0.4); 
}

.loader {
    width: 6em;
    height: 6em;
    top: 50%;
    left: 50%;
    font-size: 10px;
    position: absolute;
    display: flex;
    z-index: 99;
    align-items: center;
    justify-content: center;
}

.loader .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate 2s linear infinite;
}

.loader .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: gold;
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
}

.loader .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: lime;
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
}

.loader .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}

.loader .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: " ";
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
    box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
}

.loader .face .circle::after {
    display: none;
    visibility: hidden;
    -webkit-transition: all .35s ease-out;
    transition: all .35s ease-out;
}

@keyframes animate {
    to {
        transform: rotate(1turn);
    }
}

.navbar {
    background-image: linear-gradient(to right, #000428, #004E92);
    /* overflow:hidden !important; */
    position:-webkit-sticky !important;
    position:sticky !important;
    top:0px !important;
}

iframe {
    height: 92vh;
    z-index: -1 !important;
}

.Section {
    height: 100vh;
    top: 10px;
}